<% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
<% end %>

<h1>Curated</h1>

<% if current_user %>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
    <%= link_to "Sign up", new_user_registration_path %> |

    <%= link_to "Log in", new_user_session_path %>
<% end %>

<h2>All products</h2>


<% @products.each do |product| %>
    <% if product.approved && product.available %>
        <li>
            <%= link_to product.name, product_path(product) %>
        </li>
    <% end %>

    
<% end %><br>

<%= link_to "Sell something", new_product_path %> | <%= link_to "Shop by category", categories_path %>