<% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
<% end %>

<h1>Curated</h1>

<% if session[:user_id] %>
  <h1><%= @user.name %></h1>
  <h2>Email: <%= @user.email %></h2>
  <h2>Facebook UID: <%= @user.uid %></h2>
  <img src="<%= @user.image %>">
<% else %>
  <%= link_to('Log in with Facebook!', '/auth/facebook') %>
<% end %>

<% if current_user %>
    Signed in as <%= current_user.email %>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
    <%= link_to "Log in with Facebook", '/auth/facebook' %> |

    <%= link_to "Sign up", new_user_registration_path %> |

    <%= link_to "Log in", new_user_session_path %>
<% end %>


<h2>Available Products</h2>
    <% @available_products.each do |product| %>
        <li>
            <%= link_to product.name, product_path(product) %>
        </li>
    <% end %>
<% end %>

<%= link_to "Sell something", new_product_path %> | <%= link_to "Shop by category", categories_path %>