<% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
<% end %>

<h1>Curated</h1>

<% if current_user %>
    Signed in as <%= current_user.email %>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
    <%= link_to "Sign up", new_user_registration_path %> |

    <%= link_to "Log in", new_user_session_path %>
<% end %>

<% if current_admin? %>
    <h2>Pending Approval</h2>
    <% @pending_products.each do |product| %>
        <li>
            <%= link_to product.name, product_path(product) %>  # create and use helper methods to show sold and unapproved items to admins
        </li>
    <% end%>
    <h2>Sold Products</h2>
    <% @sold_products.each do |product| %>
        <li>
            <%= link_to product.name, product_path(product) %>  # create and use helper methods to show sold and unapproved items to admins
        </li>
    <% end%><br>
<% else %>

    <h2>Available Products</h2>
    <% @available_products.each do |product| %>
        <li>
            <%= link_to product.name, product_path(product) %>
        </li>
    <% end %>
<% end %>

<%= link_to "Sell something", new_product_path %> | <%= link_to "Shop by category", categories_path %>