<% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
<% end %>

<h1>Curated</h1>

<% if current_user %>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
    <%= link_to "Sign up", new_user_registration_path %> |

    <%= link_to "Log in", new_user_session_path %>
<% end %>

<h2>All products</h2>

<ul>
    <% @products.each do |product| %>
        <% if current_user.admin %>
            <li>
                <%= link_to product.name, product_path(product) %>  # create and use helper methods to show sold and unapproved items to admins
            </li>
        <% if product.approved && product.available %>
            <li>
                <%= link_to product.name, product_path(product) %>
            </li>
    
    <% end %>
</ol>
    
<% end %><br>

<%= link_to "Sell something", new_product_path %> | <%= link_to "Shop by category", categories_path %>