<% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
<% end %>

<h1>Curated</h1>

<% if current_user %>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
    <%= link_to "Sign up", new_user_registration_path %> |

    <%= link_to "Log in", new_user_session_path %>
<% end %>

<% if current_user && current_user.admin %>
    <h2>Pending Approval</h2>
    <% @products.each do |product| %>
        <% if !product.approved %>
            <li>
                <%= link_to product.name, product_path(product) %>  # create and use helper methods to show sold and unapproved items to admins
            </li>
        <% end %>
    <% end%>
    <h2>Sold Products</h2>
    <% @products.each do |product| %>
        <% if !product.available %>
            <li>
                <%= link_to product.name, product_path(product) %>  # create and use helper methods to show sold and unapproved items to admins
            </li>
        <% end %>
    <% end%>
<% end %>

<h2>Available Products</h2>
<% @products.each do |product| %>
    <% if product.approved && product.available %> #change column name in products from "available" to "sold" make "available" a helper that means a product is both approved and not sold.
        <li>
            <%= link_to product.name, product_path(product) %>
        </li>
    <% end %>
<% end %>

<%= link_to "Sell something", new_product_path %> | <%= link_to "Shop by category", categories_path %>