<% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
<% end %>

<h1><%= @product.name %></h1>

<%= @product.description %><br><br>
<%= number_to_currency @product.price %><br><br>
<% @product.categories.each do |category| %>
    <li>
        <%= link_to category.name, category_products_path(category) %>
    </li>
<% end %><br>

<%= link_to "See all products", products_path %> | <%= link_to "Edit product", edit_product_path(@product) %> | <%= button_to "Delete product", product_path(@product), method: :delete %>