<% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
<% end %>

<h1><%= @product.name %></h1>

<% @product.images.each do |image| %>
    <%= image_tag(image, size: '300') %><br>
<% end %>

<%= @product.description %><br><br>
<%= number_to_currency @product.price %><br><br>
<% @product.categories.each do |category| %>
    <li>
        <%= link_to category.name, category_products_path(category) %>
    </li>
<% end %><br>

<% if @product.available %>
    <%= form_for @product do |f| %>
        <%= f.hidden_field :available %>
        <%= f.submit "Buy" %>
    <% end %>
<% else %>
    <em>This product is no longer available</em><br><br>
<% end %>

<%= link_to "See all products", products_path %>
<% if current_user && current_user.admin %>
  <%= form_for(@product) do |f| %>
    <%= f.check_box :approved %>
    <%= f.submit "Approve for sale"%>
  <% end %>
| <%= link_to "Edit product", edit_product_path(@product) %> | 
<%= link_to "Delete", @product, method: :delete, data: { confirm: "Really?" } %>
<% end %>